body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-image: url(main-bg.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background-color: #414040;
	backdrop-filter: blur(11px);
	border-radius: 10px;
	box-shadow: 0 0 30px white;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 80%;
	height: 20px;
	background: rgba(255, 255, 255, 0.702);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 20px;
}
button{
	width: 80%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: rgb(255, 255, 255);
	background-color: rgb(143, 8, 206);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 20px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #0acaf5;
}
.login{
	height: 460px;
	background: #000000;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: rgb(143, 8, 206);
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
